# IPFS Kubo configuration
PEER_ID=
PRIV_KEY=

# IPFS Cluster configuration
ID=
PRIVATE_KEY=

# Website configuration
REPO_GIT_ADDRESS="git@github.com:bitxenia/rc.git"
MAIN_GIT_BRANCH="main"
BUILD_COMMAND="npm i && npm run build"
STATIC_DIR="out"
